<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <script src="js/jquery-3.5.1.min.js"></script>
</head>
<body>
    <main class="my-form">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">Register</div>
                        <div class="card-body">
                            <form action="#" th:action="@{/registration}" th:object="${user}"  class="form-horizontal" method="POST">
                                <div class="form-group row">
                                    <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
                                    <div class="col-md-6">
                                        <input type="text" id="email_address" class="form-control" th:field="*{username}">
                                        <div class="mt-1 alert alert-danger" role="alert" th:errors="*{username}"></div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                    <div class="col-md-6">
                                        <input type="password" id="password" class="form-control" th:field="*{password}">
                                        <div class="mt-1 alert alert-danger" role="alert" th:errors="*{password}"></div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="passwordConfirmed" class="col-md-4 col-form-label text-md-right">Password (Confirm)</label>
                                    <div class="col-md-6">
                                        <input type="password" id="passwordConfirmed" class="form-control" th:field="*{confirmedPassword}">
                                        <div class="mt-1 alert alert-danger" role="alert" th:errors="*{confirmedPassword}"></div>
                                    </div>
                                </div>

                                <div class="col-md-6 offset-md-4">
                                    <button type="submit" class="btn btn-primary">
                                        Register
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>